body {
    background: black;
    color: white;
    padding: 1rem;
}

input {
    background: darkgray;
}

h1 {
    font-size: 2rem;
    font-weight: 100;
}

#welcome-message {
}

#image-form {
}

#image-data {
    width: 75%;
    border-radius: 2rem;
}